.sprite { background-image: url('p1t1.png'); background-color: transparent; background-repeat: no-repeat; }
.NES_Battle_Citty_P1T1_Da { width: 13px; height: 13px; background-position: 0px -91px; }
.NES_Battle_Citty_P1T1_Db { width: 13px; height: 13px; background-position: 0px -78px; }
.NES_Battle_Citty_P1T1_La { width: 13px; height: 13px; background-position: 0px -65px; }
.NES_Battle_Citty_P1T1_Lb { width: 13px; height: 13px; background-position: 0px -52px; }
.NES_Battle_Citty_P1T1_Ra { width: 13px; height: 13px; background-position: 0px -39px; }
.NES_Battle_Citty_P1T1_Rb { width: 13px; height: 13px; background-position: 0px -26px; }
.NES_Battle_Citty_P1T1_Ua { width: 13px; height: 13px; background-position: 0px -13px; }
.NES_Battle_Citty_P1T1_Ub { width: 13px; height: 13px; background-position: 0px 0px; }
